.header {
   background: #DDD;
   background-image: url(../img/header-grad.png);
   margin-top: 20px;
   height: 80px;
   border-bottom: 1px solid #888;
}

.header h1 {
   margin: 0;
   font-size: 32px;
   text-align: center;
}

.nav {
   margin: 4px 10px;
}

.nav li {
   display: inline;  
   padding: 2px 5px;
   margin: 0px 3px;
   font-weight: bold;
   color: white;
   background: #AAA;
}

.nav li:hover {
   background: #7FB8FF;
}

.nav a {
   color: inherit;
   text-decoration: none;
}

body.index #menu_index, body.about #menu_about, body.history #menu_history, body.links #menu_links, body.contact #menu_contact {
   background: #0170FE;
}

.sidebar {
   padding: 20px 15px;
   font-weight: bold;
}

.content {
   padding-top: 20px;
}

.footer {
   border-top: 1px solid #888;
   font-size: smaller;
}
