<html>
<head>
  <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>The International Biometric Society - Nordic Region</title>
  <link rel="stylesheet" type="text/css" media="all" href="css/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="css/text.css" />
  <link rel="stylesheet" type="text/css" media="all" href="css/960.css" />
  <link rel="stylesheet" type="text/css" media="alL" href="css/ibsnr.css" />
</head>

<body class="%%PAGE%%">
<div class="container_12">

<div class="grid_12 header">
<h1>The International Biometric Society &#x2014; Nordic Region</h1>
</div>
<div class="clear"></div>

<div class="grid_12 nav">
<ul
  <li id="menu_index"><a href="./">Home</a></li>
  <li id="menu_about"><a href="about.html">About</a></li>
  <li id="menu_links"><a href="links.html">Links</a></li>
  <li id="menu_contact"><a href="contact.html">Contact Us</a></li>
</ul>
</div>
<div class="clear"></div>

<div class="grid_3">

<div class="sidebar">

<p>An International
Society Devoted to the Development and Application of Statistical and
Mathematical Theory and Methods in the Biosciences.
</p>

<p><a href="http://www.tibs.org"><img src="img/ibslogo.jpg" alt="IBS" width="64" height="64"></a></p>

</div>

</div>

<div class="grid_9 main">
<div class="content">%%CONTENT%%</div>

</div>

<div class="clear"></div>
<div class="grid_12 footer">&copy; 2009 The International Biometric Society &#x2014; Nordic Region</div>

</div>

</body>
</html>
